<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="build/style.css">
    <title>وبلاگ</title>
</head>
<body class="bg-slate-50 font-YekanBakh-Regular text-sm">

  <section class="bg-white px-4">
    <div class="container mx-auto max-w-screen-xl">
        <div class="flex items-center justify-between gap-4 lg:gap-40 py-6">
            <div class="lg:hidden leading-none z-10">
                <div class="drawer">
                    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <label for="my-drawer-4" class="swap swap-rotate drawer-button">

                          <!-- this hidden checkbox controls the state -->
                          <input type="checkbox" />
                          
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-off fill-current">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-on fill-current">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                            
                        </label> 
                      </div> 
                      <div class="drawer-side">
                        <label for="my-drawer-4" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
                          <div class="drawer-content text-left">
                              <label for="my-drawer-4" class="swap swap-rotate drawer-button">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                              </label> 
                            </div> 
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li><a href="shop.html">فروشگاه</a></li>
                            <li><a href="checkout.html">جزئیات پرداخت</a></li>
                            <li><a href="comparison.html">مقایسه محصول</a></li>
                            <li><a href="blog.html">وبلاگ</a></li>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li><a href="contact-us.html">تماس با ما</a></li>

                        </ul>
                      </div>
                  </div>
            </div>
            <div class="flex items-center lg:flex-1 gap-8">
                <div><a href="index.html"><img src="../assets/images/logo.png" alt=""></a></div>
                <div class="hidden lg:block form-control w-full">
                    <div class="relative">
                      <input type="text" placeholder="جستجو کنید در ترازو ..." class="input input-bordered w-full placeholder:text-sm" /> 
                      <button class="btn absolute top-0 left-0 rounded-r-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                          </svg>
                          
                      </button>
                    </div>
                  </div>
            </div>
            <div class="flex items-center gap-6">
                <div>
                <a href="question.html"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                </svg>
                </a>
                </div>
                <div class="hidden lg:block"><a href="login.html">ورود / ثبت نام</a></div>
                <a href="login.html">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 lg:hidden">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                  </svg>
                </a>
                
                <div class="indicator">
                    <span class="indicator-item badge bg-yellow-400">4+</span> 
                    <a href="cart.html" class="p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                          </svg>                              
                    </a>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center pb-4">
            <div class="block lg:hidden form-control w-full">
                <div class="relative">
                  <input type="text" placeholder="جستجو کنید در ترازو ..." class="input input-bordered w-full placeholder:text-sm" /> 
                  <button class="btn absolute top-0 left-0 rounded-r-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                      </svg>
                      
                  </button>
                </div>
            </div>  
            <div class="flex items-center gap-8">
                <div class="hidden lg:block">
                    <ul class="flex gap-x-10">
                      <li><a href="index.html">صفحه اصلی</a></li>
                      <li><a href="shop.html">فروشگاه</a></li>
                      <li><a href="checkout.html">جزئیات پرداخت</a></li>
                      <li><a href="comparison.html">مقایسه محصول</a></li>
                      <li><a href="blog.html">وبلاگ</a></li>
                      <li><a href="about-us.html">درباره ما</a></li>
                      <li><a href="contact-us.html">تماس با ما</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
  </section>

    <section class="my-14 mt-4 px-4">

        <div class="container mx-auto max-w-screen-xl">
            <div class="bg-white p-4 rounded-3xl mb-4">
                <div class="text-sm breadcrumbs">
                  <ul>
                    <li><a>خانه</a></li> 
                    <li><a>دسته بندی</a></li> 
                    <li>وبلاگ</li>
                  </ul>
                </div>
              </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-8">
                <div class="bg-white p-4 rounded-3xl">
                    <div class="relative">
                      <a href="single-page.html"><img class="rounded-2xl" src="../assets/images/blog-1.jpg" alt=""></a>
                      <div class="absolute top-4 left-4 bg-white border-t-4 border-yellow-400 p-2 px-3 rounded-xl">
                        <div class="flex flex-col">
                          <span class="font-YekanBakh-ExtraBold text-2xl">26</span>
                          <span class="font-YekanBakh-Bold">خرداد</span>
                        </div>
                      </div>
                    </div>
                    <div class="flex justify-between items-center mt-4">
                      <div>
                        <a href="single-page.html"><h3 class="font-YekanBakh-ExtraBold text-base">راهنمای خرید انواع مته</h3></a>
                      </div>
                      <div>
                        <a class="flex items-center" href="single-page.html">
                          <span class="ml-2">بیشتر</span>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                          </svg> 
                        </a>
                      </div>
                    </div>
                </div>
                <div class="bg-white p-4 rounded-3xl">
                  <div class="relative">
                    <a href="single-page.html"><img class="rounded-2xl" src="../assets/images/blog-2.jpg" alt=""></a>
                    <div class="absolute top-4 left-4 bg-white border-t-4 border-yellow-400 p-2 px-3 rounded-xl">
                      <div class="flex flex-col">
                        <span class="font-YekanBakh-ExtraBold text-2xl">27</span>
                        <span class="font-YekanBakh-Bold">خرداد</span>
                      </div>
                    </div>
                  </div>
                  <div class="flex justify-between items-center mt-4">
                    <div>
                      <a href="single-page.html"><h3 class="font-YekanBakh-ExtraBold text-base">تعمیر قلاب ماهیگیری</h3></a>
                    </div>
                    <div>
                      <a class="flex items-center" href="single-page.html">
                        <span class="ml-2">بیشتر</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                        </svg> 
                      </a>
                    </div>
                  </div>
                </div>
                <div class="bg-white p-4 rounded-3xl">
                <div class="relative">
                  <a href="single-page.html"><img class="rounded-2xl" src="../assets/images/blog-3.jpg" alt=""></a>
                  <div class="absolute top-4 left-4 bg-white border-t-4 border-yellow-400 p-2 px-3 rounded-xl">
                    <div class="flex flex-col">
                      <span class="font-YekanBakh-ExtraBold text-2xl">8</span>
                      <span class="font-YekanBakh-Bold">خرداد</span>
                    </div>
                  </div>
                </div>
                <div class="flex justify-between items-center mt-4">
                  <div>
                    <a href="single-page.html"><h3 class="font-YekanBakh-ExtraBold text-base">تمیزکردن لوازم کارگاهی</h3></a>
                  </div>
                  <div>
                    <a class="flex items-center" href="single-page.html">
                      <span class="ml-2">بیشتر</span>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                      </svg> 
                    </a>
                  </div>
                </div>
                </div>
                <div class="bg-white p-4 rounded-3xl">
              <div class="relative">
                <a href="single-page.html"><img class="rounded-2xl" src="../assets/images/blog-4.jpg" alt=""></a>
                <div class="absolute top-4 left-4 bg-white border-t-4 border-yellow-400 p-2 px-3 rounded-xl">
                  <div class="flex flex-col">
                    <span class="font-YekanBakh-ExtraBold text-2xl">7</span>
                    <span class="font-YekanBakh-Bold">خرداد</span>
                  </div>
                </div>
              </div>
              <div class="flex justify-between items-center mt-4">
                <div>
                  <a href="single-page.html"><h3 class="font-YekanBakh-ExtraBold text-base">قدرت انواع دریل ها</h3></a>
                </div>
                <div>
                  <a class="flex items-center" href="single-page.html">
                    <span class="ml-2">بیشتر</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                    </svg> 
                  </a>
                </div>
              </div>
                </div>
                <div class="bg-white p-4 rounded-3xl">
            <div class="relative">
              <a href="single-page.html"><img class="rounded-2xl" src="../assets/images/blog-5.jpg" alt=""></a>
              <div class="absolute top-4 left-4 bg-white border-t-4 border-yellow-400 p-2 px-3 rounded-xl">
                <div class="flex flex-col">
                  <span class="font-YekanBakh-ExtraBold text-2xl">5</span>
                  <span class="font-YekanBakh-Bold">خرداد</span>
                </div>
              </div>
            </div>
            <div class="flex justify-between items-center mt-4">
              <div>
                <a href="single-page.html"><h3 class="font-YekanBakh-ExtraBold text-base">ایمنی های هنگام کار</h3></a>
              </div>
              <div>
                <a class="flex items-center" href="single-page.html">
                  <span class="ml-2">بیشتر</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                  </svg> 
                </a>
              </div>
            </div>
                </div>
                <div class="bg-white p-4 rounded-3xl">
                  <div class="relative">
                    <a href="single-page.html"><img class="rounded-2xl" src="../assets/images/blog-6.jpg" alt=""></a>
                    <div class="absolute top-4 left-4 bg-white border-t-4 border-yellow-400 p-2 px-3 rounded-xl">
                      <div class="flex flex-col">
                        <span class="font-YekanBakh-ExtraBold text-2xl">30</span>
                        <span class="font-YekanBakh-Bold">خرداد</span>
                      </div>
                    </div>
                  </div>
                  <div class="flex justify-between items-center mt-4">
                    <div>
                      <a href="single-page.html"><h3 class="font-YekanBakh-ExtraBold text-base">بهترین مدل آچارها</h3></a>
                    </div>
                    <div>
                      <a class="flex items-center" href="single-page.html">
                        <span class="ml-2">بیشتر</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                        </svg> 
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="flex justify-center mt-10">
              <div class="join">
                <button class="join-item btn">«</button>
                <button class="join-item btn">صفحه 22</button>
                <button class="join-item btn">»</button>
              </div>
            </div>
        </div>
    </section>

    <footer class="p-10 bg-stone-800 text-white">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-yellow-500 p-8 rounded-3xl mb-10">
          <div class="swiper partners">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-1.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-3.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-5.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-6.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-4.png" alt="">
                    </div>
                </div>

              </div>
        </div>
        </div>
          <div class="grid grid-cols-12 gap-4 leading-8">
              <div class="col-span-12 lg:col-span-5">
                  <img class="mb-4" src="../assets/images/logo.png" alt="">
                  <p>
                    ترازو با فراهم آوردن تنوع معقولی از محصولات در کنار عرضه با قیمت مناسب آن‌ها، به دنبال خرید راحت و رضایت‌بخش ابزارآلات برای همراهان خودش است و این مهم را با مهیا کردن امکان بررسی فنی و کاربردی ابزارآلات و ارائه محتوای مناسب و غنی محقق می‌سازد.
                  </p>
              </div>
              <div class="col-span-12 lg:col-span-2 text-right md:text-center">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">دسترسی سریع</h3>
                  <ul>
                      <li><a href="index.html">صفحه اصلی</a></li>
                      <li><a href="shop.html">فروشگاه</a></li>
                      <li><a href="question.html">سوالات متداول</a></li>
                      <li><a href="contact-us.html">تماس با ما</a></li>
                      <li><a href="blog.html">وبلاگ</a></li>
                  </ul>
              </div>
              <div class="col-span-12 lg:col-span-2 text-right md:text-center">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">خدمات شرکت</h3>
                  <ul>
                      <li><a href="single-product.html">صفحه محصول</a></li>
                      <li><a href="single-page.html">جزئیات بلاگ</a></li>
                      <li><a href="successful.html">ثبت موفق</a></li>
                      <li><a href="unsuccessful.html">ثبت ناموفق</a></li>
                      <li><a href="404.html">404</a></li>
                  </ul>
              </div>
              <div class="col-span-12 lg:col-span-3">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">عضویت در خبرنامه</h3>
                  <div class="flex items-center">
                    <img src="../assets/images/enamad_logo.png" alt="">
                    <img src="../assets/images/samandehi_logo.png" alt="">
                  </div>
              </div>
          </div>
      </div>
    </footer>

    <footer class="footer footer-center p-4 bg-stone-700 text-white">
      <div>
        <p>Copyright © 2023 - تمامی حقوق برای راست چین محفوظ می باشد</p>
      </div>
    </footer>
      <script src="../node_modules/swiper/swiper-bundle.min.js"></script>
      <script src="../src/js/main.js"></script>
  </body>
  </html>