{% extends 'products_app/master.html' %}
{%load static%}
{% block 'title' %} صفحه اصلی{% endblock %}

{% block 'content' %}

    <section class="my-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="text-center mb-8">
          <h2 class="font-YekanBakh-ExtraBlack text-3xl">دسته بندی محصولات</h2>
        </div>
        <div class="swiper cat-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="border border-slate-200 bg-white rounded-3xl leading-10">
                <a href="{%url 'shop'%}" class="flex flex-col items-center justify-center p-4">
                  <img class="w-16 mb-4" src="{%static 'products_app/assets/images/w1.jpg'%}" alt="">
                  <h3 class="font-YekanBakh-ExtraBold text-base"> ساعت زنانه</h3>  
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="border border-slate-200 bg-white rounded-3xl leading-10">
                <a href="{%url 'shop'%}" class="flex flex-col items-center justify-center p-4">
                  <img class="w-16 mb-4" src="{%static 'products_app/assets/images/4.jpg'%}" alt="">
                  <h3 class="font-YekanBakh-ExtraBold text-base"> ساعت مردانه</h3>  
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="border border-slate-200 bg-white rounded-3xl leading-10">
                <a href="{%url 'shop'%}" class="flex flex-col items-center justify-center p-4">
                  <img class="w-16 mb-4" src="{%static 'products_app/assets/images/9.jpg'%}" alt="">
                  <h3 class="font-YekanBakh-ExtraBold text-base"> ساعت بچه گانه</h3>  
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="border border-slate-200 bg-white rounded-3xl leading-10">
                <a href="{%url 'shop'%}" class="flex flex-col items-center justify-center p-4">
                  <img class="w-16 mb-4" src="{%static 'products_app/assets/images/8.jpg'%}" alt="">
                  <h3 class="font-YekanBakh-ExtraBold text-base"> ساعت ست</h3>  
                </a>
              </div>
            </div>
           

          </div>
          <div class="swiper-pagination"></div>
          
      </div>
      </div>
    </section>

    
    {% endblock %}

    
    

    