<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="build/style.css">
    <title>جزئیات وبلاگ</title>
</head>
<body class="bg-slate-50 font-YekanBakh-Regular text-sm">

  <section class="bg-white px-4">
    <div class="container mx-auto max-w-screen-xl">
        <div class="flex items-center justify-between gap-4 lg:gap-40 py-6">
            <div class="lg:hidden leading-none z-10">
                <div class="drawer">
                    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <label for="my-drawer-4" class="swap swap-rotate drawer-button">

                          <!-- this hidden checkbox controls the state -->
                          <input type="checkbox" />
                          
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-off fill-current">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-on fill-current">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                            
                        </label> 
                      </div> 
                      <div class="drawer-side">
                        <label for="my-drawer-4" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
                          <div class="drawer-content text-left">
                              <label for="my-drawer-4" class="swap swap-rotate drawer-button">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                              </label> 
                            </div> 
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li><a href="shop.html">فروشگاه</a></li>
                            <li><a href="checkout.html">جزئیات پرداخت</a></li>
                            <li><a href="comparison.html">مقایسه محصول</a></li>
                            <li><a href="blog.html">وبلاگ</a></li>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li><a href="contact-us.html">تماس با ما</a></li>

                        </ul>
                      </div>
                  </div>
            </div>
            <div class="flex items-center lg:flex-1 gap-8">
                <div><a href="index.html"><img src="../assets/images/logo.png" alt=""></a></div>
                <div class="hidden lg:block form-control w-full">
                    <div class="relative">
                      <input type="text" placeholder="جستجو کنید در ترازو ..." class="input input-bordered w-full placeholder:text-sm" /> 
                      <button class="btn absolute top-0 left-0 rounded-r-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                          </svg>
                          
                      </button>
                    </div>
                  </div>
            </div>
            <div class="flex items-center gap-6">
                <div>
                <a href="question.html"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                </svg>
                </a>
                </div>
                <div class="hidden lg:block"><a href="login.html">ورود / ثبت نام</a></div>
                <a href="login.html">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 lg:hidden">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                  </svg>
                </a>
                
                <div class="indicator">
                    <span class="indicator-item badge bg-yellow-400">4+</span> 
                    <a href="cart.html" class="p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                          </svg>                              
                    </a>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center pb-4">
            <div class="block lg:hidden form-control w-full">
                <div class="relative">
                  <input type="text" placeholder="جستجو کنید در ترازو ..." class="input input-bordered w-full placeholder:text-sm" /> 
                  <button class="btn absolute top-0 left-0 rounded-r-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                      </svg>
                      
                  </button>
                </div>
            </div>  
            <div class="flex items-center gap-8">
                <div class="hidden lg:block">
                    <ul class="flex gap-x-10">
                      <li><a href="index.html">صفحه اصلی</a></li>
                      <li><a href="shop.html">فروشگاه</a></li>
                      <li><a href="checkout.html">جزئیات پرداخت</a></li>
                      <li><a href="comparison.html">مقایسه محصول</a></li>
                      <li><a href="blog.html">وبلاگ</a></li>
                      <li><a href="about-us.html">درباره ما</a></li>
                      <li><a href="contact-us.html">تماس با ما</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
  </section>

    <section class="mb-20 px-4">
        <div class="container mx-auto max-w-screen-xl">
          <div class="bg-white p-4 rounded-3xl my-4">
            <div class="text-sm breadcrumbs">
              <ul>
                <li><a>خانه</a></li> 
                <li><a>دسته بندی</a></li> 
                <li>جزئیات وبلاگ</li>
              </ul>
            </div>
          </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-9 order-1">
                    <div class="bg-white p-4 rounded-3xl leading-8">
                        <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-2xl p-4">
                            <h1 class="mb-2 text-base font-YekanBakh-Bold">لورم ایپسوم متن ساختگی با تولید سادگی</h1>
                            <div class="flex items-center gap-4 text-xs">
                                <span class="flex items-center gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                      </svg>
                                        14 تیر 1402                                 
                                </span>
                                <span class="flex items-center gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                                      </svg>
                                      ابزارآلات                               
                                </span>
                            </div>
                        </div>
                        <img class="rounded-2xl" src="..//assets/images/blog-2.jpg" alt="">
                        <p class="mt-4">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                        <p class="mt-4">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                        <div class="mt-4">
                            <h3 class="font-YekanBakh-Bold text-slate-800 text-base">نظرات</h3>
                            <p>شما با نام یاسمن وارد شده اید!!</p>
                            <textarea class="textarea textarea-bordered w-full h-36 rounded-3xl" placeholder="نظر خود را بنویسید..."></textarea>
                            <button class="btn bg-stone-800 hover:bg-stone-900 text-white rounded-2xl">ارسال پیام</button>
                        </div>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-3 order-2">
                  <div class="bg-white p-4 rounded-3xl mb-4 leading-8">
                      <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-2xl p-4">
                          <h3 class="font-YekanBakh-Bold text-slate-800 text-base">پربازدیدترین ها</h3>
                      </div>
                      <div>
                          <div class="flex items-center my-4">
                              <div class="avatar">
                                  <div class="w-16 rounded-full">
                                    <img src="../assets/images/blog-2.jpg" />
                                  </div>
                                </div>
                                <div class="mr-2">
                                  <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">جذاب ترین ایده دکوراسیون</h3>
                                  <p>لورم ایپسوم متن ساختگی</p>    
                                </div>
                          </div>
                          <div class="flex items-center my-4">
                              <div class="avatar">
                                  <div class="w-16 rounded-full">
                                    <img src="..//assets/images/blog-3.jpg" />
                                  </div>
                                </div>
                                <div class="mr-2">
                                  <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">5 مدل مبلمان فضای بسته</h3>
                                  <p>لورم ایپسوم متن ساختگی</p>    
                                </div>
                          </div>
                          <div class="flex items-center my-4">
                              <div class="avatar">
                                  <div class="w-16 rounded-full">
                                    <img src="..//assets/images/blog-4.jpg" />
                                  </div>
                                </div>
                                <div class="mr-2">
                                  <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">زیبا ترین گل های آپارتمانی</h3>
                                  <p>لورم ایپسوم متن ساختگی</p>    
                                </div>
                          </div>
                          <div class="flex items-center my-4">
                              <div class="avatar">
                                  <div class="w-16 rounded-full">
                                    <img src="..//assets/images/blog-5.jpg" />
                                  </div>
                                </div>
                                <div class="mr-2">
                                  <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">زیبا ترین گل های آپارتمانی</h3>
                                  <p>لورم ایپسوم متن ساختگی</p>    
                                </div>
                          </div>
                      </div>
                      
                  </div>
                  <div class="bg-white p-4 rounded-2xl mb-4 leading-8">
                      <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-3xl p-4">
                          <h3 class="font-YekanBakh-Bold text-slate-800 text-base">دسته بندی</h3>
                      </div>
                      <ul class="menu">
                          <li><a>دسته بندی اول</a></li>
                          <li>
                            <details open>
                              <summary>دسته بندی دوم</summary>
                              <ul>
                                <li><a>زیر منوی 1 دسته بندی دوم</a></li>
                                <li><a>زیر منوی 2 دسته بندی دوم</a></li>
                                <li>
                                  <details open>
                                    <summary>دسته بندی سوم</summary>
                                    <ul>
                                      <li><a>زیر منوی 1 دسته بندی سوم</a></li>
                                      <li><a>زیر منوی 2 دسته بندی سوم</a></li>
                                    </ul>
                                  </details>
                                </li>
                              </ul>
                            </details>
                          </li>
                          <li><a>دسته بندی چهارم</a></li>
                        </ul>
                      
                  </div>
              </div>
            </div>
        </div>
    </section>

    <footer class="p-10 bg-stone-800 text-white">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-yellow-500 p-8 rounded-3xl mb-10">
          <div class="swiper partners">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-1.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-3.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-5.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-6.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-4.png" alt="">
                    </div>
                </div>

              </div>
        </div>
        </div>
          <div class="grid grid-cols-12 gap-4 leading-8">
              <div class="col-span-12 lg:col-span-5">
                  <img class="mb-4" src="../assets/images/logo.png" alt="">
                  <p>
                    ترازو با فراهم آوردن تنوع معقولی از محصولات در کنار عرضه با قیمت مناسب آن‌ها، به دنبال خرید راحت و رضایت‌بخش ابزارآلات برای همراهان خودش است و این مهم را با مهیا کردن امکان بررسی فنی و کاربردی ابزارآلات و ارائه محتوای مناسب و غنی محقق می‌سازد.
                  </p>
              </div>
              <div class="col-span-12 lg:col-span-2 text-right md:text-center">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">دسترسی سریع</h3>
                  <ul>
                      <li><a href="index.html">صفحه اصلی</a></li>
                      <li><a href="shop.html">فروشگاه</a></li>
                      <li><a href="question.html">سوالات متداول</a></li>
                      <li><a href="contact-us.html">تماس با ما</a></li>
                      <li><a href="blog.html">وبلاگ</a></li>
                  </ul>
              </div>
              <div class="col-span-12 lg:col-span-2 text-right md:text-center">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">خدمات شرکت</h3>
                  <ul>
                      <li><a href="single-product.html">صفحه محصول</a></li>
                      <li><a href="single-page.html">جزئیات بلاگ</a></li>
                      <li><a href="successful.html">ثبت موفق</a></li>
                      <li><a href="unsuccessful.html">ثبت ناموفق</a></li>
                      <li><a href="404.html">404</a></li>
                  </ul>
              </div>
              <div class="col-span-12 lg:col-span-3">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">عضویت در خبرنامه</h3>
                  <div class="flex items-center">
                    <img src="../assets/images/enamad_logo.png" alt="">
                    <img src="../assets/images/samandehi_logo.png" alt="">
                  </div>
              </div>
          </div>
      </div>
    </footer>

    <footer class="footer footer-center p-4 bg-stone-700 text-white">
      <div>
        <p>Copyright © 2023 - تمامی حقوق برای راست چین محفوظ می باشد</p>
      </div>
    </footer>
      <script src="../node_modules/swiper/swiper-bundle.min.js"></script>
      <script src="../src/js/main.js"></script>
  </body>
  </html>