<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="build/style.css">
    <title>جزئیات محصول</title>
</head>
<body class="bg-slate-50 font-YekanBakh-Regular text-sm">

  <section class="bg-white px-4">
    <div class="container mx-auto max-w-screen-xl">
        <div class="flex items-center justify-between gap-4 lg:gap-40 py-6">
            <div class="lg:hidden leading-none z-10">
                <div class="drawer">
                    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <label for="my-drawer-4" class="swap swap-rotate drawer-button">

                          <!-- this hidden checkbox controls the state -->
                          <input type="checkbox" />
                          
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-off fill-current">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-black swap-on fill-current">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                            
                        </label> 
                      </div> 
                      <div class="drawer-side">
                        <label for="my-drawer-4" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
                          <div class="drawer-content text-left">
                              <label for="my-drawer-4" class="swap swap-rotate drawer-button">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                              </label> 
                            </div> 
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li><a href="shop.html">فروشگاه</a></li>
                            <li><a href="checkout.html">جزئیات پرداخت</a></li>
                            <li><a href="comparison.html">مقایسه محصول</a></li>
                            <li><a href="blog.html">وبلاگ</a></li>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li><a href="contact-us.html">تماس با ما</a></li>

                        </ul>
                      </div>
                  </div>
            </div>
            <div class="flex items-center lg:flex-1 gap-8">
                <div><a href="index.html"><img src="../assets/images/logo.png" alt=""></a></div>
                <div class="hidden lg:block form-control w-full">
                    <div class="relative">
                      <input type="text" placeholder="جستجو کنید در ترازو ..." class="input input-bordered w-full placeholder:text-sm" /> 
                      <button class="btn absolute top-0 left-0 rounded-r-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                          </svg>
                          
                      </button>
                    </div>
                  </div>
            </div>
            <div class="flex items-center gap-6">
                <div>
                <a href="question.html"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                </svg>
                </a>
                </div>
                <div class="hidden lg:block"><a href="login.html">ورود / ثبت نام</a></div>
                <a href="login.html">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 lg:hidden">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                  </svg>
                </a>
                
                <div class="indicator">
                    <span class="indicator-item badge bg-yellow-400">4+</span> 
                    <a href="cart.html" class="p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                          </svg>                              
                    </a>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center pb-4">
            <div class="block lg:hidden form-control w-full">
                <div class="relative">
                  <input type="text" placeholder="جستجو کنید در ترازو ..." class="input input-bordered w-full placeholder:text-sm" /> 
                  <button class="btn absolute top-0 left-0 rounded-r-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                      </svg>
                      
                  </button>
                </div>
            </div>  
            <div class="flex items-center gap-8">
                <div class="hidden lg:block">
                    <ul class="flex gap-x-10">
                      <li><a href="index.html">صفحه اصلی</a></li>
                      <li><a href="shop.html">فروشگاه</a></li>
                      <li><a href="checkout.html">جزئیات پرداخت</a></li>
                      <li><a href="comparison.html">مقایسه محصول</a></li>
                      <li><a href="blog.html">وبلاگ</a></li>
                      <li><a href="about-us.html">درباره ما</a></li>
                      <li><a href="contact-us.html">تماس با ما</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
  </section>

    <section class="mt-4 px-4">
        <div class="container mx-auto max-w-screen-xl">
          <div class="bg-white p-4 rounded-3xl mb-4">
            <div class="text-sm breadcrumbs">
              <ul>
                <li><a>خانه</a></li> 
                <li><a>دسته بندی</a></li> 
                <li>جزئیات محصول</li>
              </ul>
            </div>
          </div>
          <div class=" bg-white p-4 rounded-3xl">
            <div class="grid grid-cols-12 gap-4">
              <div class="col-span-12 md:col-span-4">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper border pro-main border-b rounded-3xl">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-8.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-1.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-2.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-3.jpg" />
                    </div>

                  </div>
                  <div class="swiper-button-next after:text-sm"></div>
                  <div class="swiper-button-prev after:text-sm"></div>
                </div>
                <div thumbsSlider="" class="swiper gall-pro mt-4">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-8.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-1.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-2.jpg" />
                    </div>
                    <div class="swiper-slide">
                      <img class="rounded-xl cursor-pointer" src="../assets/images/product-3.jpg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-span-12 md:col-span-8">
                <div class= "p-4">
                  <div class="bg-stone-50 rounded-xl p-4 leading-8">
                    <h1 class="font-YekanBakh-ExtraBold text-base">دریل شارژِ مدل رونیکس</h1>
                    <p>دسته بندی: دریل ها</p>
                  </div>
                  <div class="grid grid-cols-12 mt-4">
                    <div class="col-span-12 lg:col-span-8 p-4">
                      <ul class="leading-8 text-stone-500">
                        <li>ولتاژ: 18 ولت</li>
                        <li>منبع تغذیه: باتری</li>
                        <li>مدل: رونیکس</li>
                        <li>وزن: 250 گرم</li>
                        <li>ابعاد: 60 در 40</li>
                        <li>اقلام: دفترچه</li>
                      </ul>
                      <div class="flex gap-4 text-base mt-4">
                        <span class="line-through">360.000 تومان</span>
                        <span class="text-yellow-500">280.000 تومان</span>
                      </div>
                      <button class="btn bg-stone-800 hover:bg-stone-900 text-white my-6">افزودن به سبد خرید</button>
                      <div>
                        <a class="border px-4 py-2 rounded-xl" href="comparison.html">افزودن به مقایسه</a>
                      </div>
                    </div>
                    <div class="hidden lg:block col-span-4">
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                        </svg>
                        <span class="mr-2">بهترین قیمت</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                        </svg>
                        
                        <span class="mr-2">تضمین اصل بودن محصول</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                        </svg>
                        
                        <span class="mr-2">ارسال سریع</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
                        </svg>
                        
                        <span class="mr-2">مشاوره قبل از خرید</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                        </svg>
                        
                        <span class="mr-2">بسته بندی زیبا</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                        </svg>
                        
                        <span class="mr-2">رضایت کاربران</span>                        
                      </div>
                      <div class="flex items-center border rounded-lg my-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                        
                        <span class="mr-2">تایید فروشنده توسط ترازو</span>                        
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="my-4 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-white rounded-3xl p-8 leading-8">
          <p class="text-3xl font-YekanBakh-ExtraBlack mb-4">توضیحات</p>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </div>
      </div>
    </section>

    <section class="my-4 mb-14 px-4">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-white rounded-3xl p-8 leading-8">
          <p class="text-3xl font-YekanBakh-ExtraBlack mb-4">محصولات مشابه</p>
          <div class="swiper related">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="bg-white rounded-3xl leading-10 p-4">
                    <a href="single-product.html" class="flex flex-col items-center justify-center">
                      <img class="mb-4" src="../assets/images/product-5.jpg" alt="">
                    </a>
                  <div class="text-center">
                    <a href="single-product.html"><h3 class="font-YekanBakh-ExtraBold text-base">کیف کمری ابزار</h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="line-through">360.000 تومان</span>
                      <span class="text-yellow-500">280.000 تومان</span>
                    </div> 
                    <div class="flex justify-center gap-2 items-center mt-4">
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>                          
                      </a>
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                        </svg>
                        
                      </a>
                    </div>     
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="bg-white rounded-3xl leading-10 p-4">
                  <div class="relative">
                    <a href="single-product.html" class="flex flex-col items-center justify-center">
                      <img class="mb-4" src="../assets/images/product-8.jpg" alt="">
                    </a>
                    <div class="absolute top-2 left-2 flex gap-1">
                      <div class="w-4 h-4 rounded-full bg-red-500"></div>
                      <div class="w-4 h-4 rounded-full bg-yellow-500"></div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="single-product.html"><h3 class="font-YekanBakh-ExtraBold text-base">دلر شارژی مدل دیوالت</h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="line-through">140.000 تومان</span>
                      <span class="text-yellow-500">90.000 تومان</span>
                    </div>   
                    <div class="flex justify-center gap-2 items-center mt-4">
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>                          
                      </a>
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                        </svg>
                        
                      </a>
                    </div>   
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="bg-white rounded-3xl leading-10 p-4">
                    <a href="single-product.html" class="flex flex-col items-center justify-center">
                      <img class="mb-4" src="../assets/images/product-4.jpg" alt="">
                    </a>
                  <div class="text-center">
                    <a href="single-product.html"><h3 class="font-YekanBakh-ExtraBold text-base">دستگاه مدل Ingco</h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="line-through">960.000 تومان</span>
                      <span class="text-yellow-500">425.000 تومان</span>
                    </div> 
                    <div class="flex justify-center gap-2 items-center mt-4">
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>                          
                      </a>
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                        </svg>
                        
                      </a>
                    </div>     
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="bg-white rounded-3xl leading-10 p-4">
                    <a href="single-product.html" class="flex flex-col items-center justify-center">
                      <img class="mb-4" src="../assets/images/product-3.jpg" alt="">
                    </a>
                  <div class="text-center">
                    <a href="single-product.html"><h3 class="font-YekanBakh-ExtraBold text-base">دستگاه پمپ باد</h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="line-through">50.000 تومان</span>
                      <span class="text-yellow-500">45.000 تومان</span>
                    </div> 
                    <div class="flex justify-center gap-2 items-center mt-4">
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>                          
                      </a>
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                        </svg>
                        
                      </a>
                    </div>     
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="bg-white rounded-3xl leading-10 p-4">
                    <a href="single-product.html" class="flex flex-col items-center justify-center">
                      <img class="mb-4" src="../assets/images/product-1.jpg" alt="">
                    </a>
                  <div class="text-center">
                    <a href="single-product.html"><h3 class="font-YekanBakh-ExtraBold text-base">دریل برقی مدل X</h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="line-through">50.000 تومان</span>
                      <span class="text-yellow-500">45.000 تومان</span>
                    </div>  
                    <div class="flex justify-center gap-2 items-center mt-4">
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>                          
                      </a>
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                        </svg>
                        
                      </a>
                    </div>    
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="bg-white rounded-3xl leading-10 p-4">
                    <a href="single-product.html" class="flex flex-col items-center justify-center">
                      <img class="mb-4" src="../assets/images/product-5.jpg" alt="">
                    </a>
                  <div class="text-center">
                    <a href="single-product.html"><h3 class="font-YekanBakh-ExtraBold text-base">دریل برقی مدل X</h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="line-through">50.000 تومان</span>
                      <span class="text-yellow-500">45.000 تومان</span>
                    </div>  
                    <div class="flex justify-center gap-2 items-center mt-4">
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>                          
                      </a>
                      <a class="bg-yellow-500 p-2 text-white rounded-lg" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
                        </svg>
                        
                      </a>
                    </div>    
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div>

    </section>

    <footer class="p-10 bg-stone-800 text-white">
      <div class="container mx-auto max-w-screen-xl">
        <div class="bg-yellow-500 p-8 rounded-3xl mb-10">
          <div class="swiper partners">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-1.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-3.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-5.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-6.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="flex justify-center">
                        <img src="../assets/images/logo-4.png" alt="">
                    </div>
                </div>

              </div>
        </div>
        </div>
          <div class="grid grid-cols-12 gap-4 leading-8">
              <div class="col-span-12 lg:col-span-5">
                  <img class="mb-4" src="../assets/images/logo.png" alt="">
                  <p>
                    ترازو با فراهم آوردن تنوع معقولی از محصولات در کنار عرضه با قیمت مناسب آن‌ها، به دنبال خرید راحت و رضایت‌بخش ابزارآلات برای همراهان خودش است و این مهم را با مهیا کردن امکان بررسی فنی و کاربردی ابزارآلات و ارائه محتوای مناسب و غنی محقق می‌سازد.
                  </p>
              </div>
              <div class="col-span-12 lg:col-span-2 text-right md:text-center">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">دسترسی سریع</h3>
                  <ul>
                      <li><a href="index.html">صفحه اصلی</a></li>
                      <li><a href="shop.html">فروشگاه</a></li>
                      <li><a href="question.html">سوالات متداول</a></li>
                      <li><a href="contact-us.html">تماس با ما</a></li>
                      <li><a href="blog.html">وبلاگ</a></li>
                  </ul>
              </div>
              <div class="col-span-12 lg:col-span-2 text-right md:text-center">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">خدمات شرکت</h3>
                  <ul>
                      <li><a href="single-product.html">صفحه محصول</a></li>
                      <li><a href="single-page.html">جزئیات بلاگ</a></li>
                      <li><a href="successful.html">ثبت موفق</a></li>
                      <li><a href="unsuccessful.html">ثبت ناموفق</a></li>
                      <li><a href="404.html">404</a></li>
                  </ul>
              </div>
              <div class="col-span-12 lg:col-span-3">
                  <h3 class="font-YekanBakh-Bold text-white mb-4 text-lg">عضویت در خبرنامه</h3>
                  <div class="flex items-center">
                    <img src="../assets/images/enamad_logo.png" alt="">
                    <img src="../assets/images/samandehi_logo.png" alt="">
                  </div>
              </div>
          </div>
      </div>
    </footer>

    <footer class="footer footer-center p-4 bg-stone-700 text-white">
      <div>
        <p>Copyright © 2023 - تمامی حقوق برای راست چین محفوظ می باشد</p>
      </div>
    </footer>
    <script src="../node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="../src/js/main.js"></script>
</body>
</html>